Source: ros-melodic-realsense2-camera
Section: embedded
Priority: optional
Maintainer: nick black <dankamongmen@gmail.com>
Build-Depends: debhelper (>= 11), ros-melodic-ddynamic-reconfigure,
 ros-melodic-catkin, ros-melodic-cmake-modules,
 librealsense2, librealsense2-udev-rules, librealsense2-dkms,
 librealsense2-dev
Standards-Version: 4.1.3
Homepage: https://github.com/Greenzie/realsense-ros
Vcs-Git: https://github.com/Greenzie/realsense-ros.git

Package: ros-melodic-realsense2-camera
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 ros-melodic-ddynamic-reconfigure, ros-melodic-image-transport,
 ros-melodic-cv-bridge, ros-melodic-nav-msgs, ros-melodic-nodelet,
 ros-melodic-roscpp, ros-melodic-genmsg, ros-melodic-sensor-msgs,
 ros-melodic-message-runtime, ros-melodic-tf, ros-melodic-std-msgs,
 ros-melodic-diagnostic-updater, libimage-transport-dev,
 librealsense2, librealsense2-udev-rules
Description: Intel RealSense camera ROS package
 These are packages for using Intel RealSense cameras (D400 series
 SR300 camera and T265 Tracking Module) with ROS.

Package: ros-melodic-realsense2-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 ros-melodic-ddynamic-reconfigure, ros-melodic-image-transport,
 ros-melodic-cv-bridge, ros-melodic-nav-msgs, ros-melodic-nodelet,
 ros-melodic-roscpp, ros-melodic-genmsg, ros-melodic-sensor-msgs,
 ros-melodic-message-runtime, ros-melodic-tf, ros-melodic-std-msgs,
 ros-melodic-diagnostic-updater
Description: Intel RealSense camera descriptions
 These are packages for using Intel RealSense cameras (D400 series
 SR300 camera and T265 Tracking Module) with ROS.
