Source: ros-noetic-realsense2-camera
Section: embedded
Priority: optional
Maintainer: Charles Brian Quinn <cbq@greenzie.com>
Build-Depends: debhelper (>= 11),
    ros-noetic-ddynamic-reconfigure,
    ros-noetic-catkin,
    ros-noetic-cmake-modules,
    librealsense2 (=2.50.0-greenzie-focal),
    librealsense2-udev-rules
Standards-Version: 4.1.3
Homepage: https://github.com/Greenzie/realsense-ros
Vcs-Git: https://github.com/Greenzie/realsense-ros.git

Package: ros-noetic-realsense2-camera
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 ros-noetic-ddynamic-reconfigure,
 ros-noetic-image-transport,
 ros-noetic-cv-bridge,
 ros-noetic-nav-msgs,
 ros-noetic-nodelet,
 ros-noetic-roscpp,
 ros-noetic-genmsg,
 ros-noetic-sensor-msgs,
 ros-noetic-message-runtime,
 ros-noetic-tf,
 ros-noetic-std-msgs,
 ros-noetic-diagnostic-updater,
 libimage-transport-dev,
 librealsense2 (=2.50.0-greenzie-focal),
 librealsense2-udev-rules
Description: Intel RealSense camera ROS package
 These are packages for using Intel RealSense cameras (D400 series
 SR300 camera and T265 Tracking Module) with ROS.

Package: ros-noetic-realsense2-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 ros-noetic-ddynamic-reconfigure,
 ros-noetic-image-transport,
 ros-noetic-cv-bridge,
 ros-noetic-nav-msgs,
 ros-noetic-nodelet,
 ros-noetic-roscpp,
 ros-noetic-genmsg,
 ros-noetic-sensor-msgs,
 ros-noetic-message-runtime,
 ros-noetic-tf,
 ros-noetic-std-msgs,
 ros-noetic-diagnostic-updater
Description: Intel RealSense camera descriptions
 These are packages for using Intel RealSense cameras (D400 series
 SR300 camera and T265 Tracking Module) with ROS.
